@charset "UTF-8";

.avaliacao {
    display: flex;
    justify-content: center;
    height: 0px;
    margin: 0px;
}

.star-icon {
    list-style-type: none;
    cursor: pointer;
    font-size: 50px;
    color: #ffe500;
}

.star-icon::before {
    content: "\2606"; /* Estrela vazia */
}

.star-icon.cheia::before {
    content: "\2605"; /* Estrela cheia */
}

.avaliacao:hover .star-icon::before {
    content: "\2605"; /* Estrela cheia ao passar o mouse */
}

.star-icon:hover ~ .star-icon::before {
    content: "\2606"; /* Estrelas seguintes vazias ao passar o mouse */
}


header {
    background-image: url(../imagens/conexões.jpg);
    background-position: center center;
    height: 150px;
    width: 800px;
    object-fit: none;
    border-radius: 15px;
    margin: auto;
    box-shadow: 1px 1px 5px black;
}

header > h1 {
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
    font-family: sans-serif;
    font-size: 45px;
}


main {
    background-image: linear-gradient(to right, #191B6B, #0267B2, #191B6B);
    height: 350px;
    width: 800px;
    color: #fff;
    border-radius: 15px;
    box-shadow: 1px 1px 5px black;
    position: relative;
    margin: auto;
}

main > p {
    font-size: 28px;

    padding-top: 10px;
    padding-left: 5px;
}

.button {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;

  top: auto;
  left: auto;
}

.button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: darkblue;
    z-index: -2;
  }

.button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color:  white;
    transition: all .3s;
    z-index: -1;
  }

.button:hover {
    color: rgba(74, 1, 243, 0.651);
    &:before {
      width: 100%;
    }
  }

.button {
  font-family: Arial;
  text-decoration: none;
  font-size: 12px;
}

.container {
    position: absolute;
    top: 86%;
    left: 75%;
}

.containerConcluir {
    position: absolute;
    top: 86%;
    left: 83%;
}
body {
    background-image: url(../imagens/conor-luddy-rN6PPjqru-U-unsplash.jpg);
    background-size: 100%;
    background-position: left center;
    background-repeat: no-repeat;
}

.obrigado {
    text-align: center;
    position: relative;
    top: 40%;
    
}